h2 {
    margin: 0 auto 2rem auto;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    background-color: #9FB3DF;
    color: #444444;
    margin: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
}

.header__header {
    color: white;
    grid-column: span 3;
    display: flex;
    align-items: center;
    margin: 2rem auto 3rem 0;
}

.header__header>h1 {
    margin-right: 2rem;
    font-size: 3.5em;
}

.header__city-name {
    font-style: oblique;
    font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
    content: "✨";
}

.temperature__section,
.sky__section,
.city-name__section {
    border-radius: 8px;
    padding: 2rem;
    background-color: #FFF5F7;
    border: 2px solid #C3B1E1;
}

.temperature__section {
    grid-row: 2;
}

.temperature__section button {
    background-color: #c6b4e2;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
}

.temperature__section button:hover {
    background-color: #9FB3DF;
}

.sky__section {
    grid-row: 3;
}

.city-name__section {
    grid-row: 4;
}

.garden__section {
    grid-row: 2 / span 3;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

.temperature__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    gap: 3rem;
}

#tempValue {
    font-size: 3rem;
    margin-left: 1.5rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
}

.temperature__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.garden__section>h2 {
    color: white;
    font-size: 2rem;
}

.garden__content {
    background-color: #FFF5F7;
    border: 2px solid #C3B1E1;
    min-height: 200px;
    max-width: fit-content;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 16px;
    font-size: 2em;
}

.city-name__reset-btn {
    border: 0;
    background-color: #c6b4e2;
    color: white;
    border-radius: 8px;
    padding: 0.8rem;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.city-name__reset-btn:hover {
    background-color: #9FB3DF;
}

.red {
    color: red;
}

.orange {
    color: rgb(255, 172, 18);
}

.yellow {
    color: rgb(247, 218, 57);
}

.yellow-green {
    color: yellowgreen;
}

.green {
    color: green;
}

.teal {
    color: rgb(12, 189, 189);
}

.cloudy {
    background-color: #e6e6e6;
}

.sunny {
    background-color: #faf6d8;
}

.rainy {
    background-color: #dbf0fa;
}

.snowy {
    background-color: #F0F8FF;
}

#increaseTempControl,
#decreaseTempControl {
    cursor: pointer;
}

#headerCityName {
    font-size: 2.5rem;
}

#skySelect,
#cityNameInput {
    font-size: 1rem;
    padding: 0.5rem;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ccc;
}